:root{

    --ff-cn: 'Courier New';

    --fw-light:200;
    --fw-normal:400;
    --fw-bold:600;

    --lh-normal: 1.7;
    --lh-small: 1.1;

    --fs-small: 1rem;
    --fs-medium: 1.5rem;
    --fs-large: 2rem;

    --clr-neutral-dark: hsl(234,12%,34%);
    --clr-neutral-medium: hsl(229,6%,66%);
    --clr-neutral-light: hsl(0,0%,98%);

    --clr-teal: hsl(180,58%,56%);
    --clr-red: hsl(0,70%,60%);
    --clr-blue: hsl(212,75%,62%);
    --clr-yellow: hsl(34,89%,65%);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    font-family: var(--ff-cn);
    font-weight: var(--fw-normal);
    line-height: var(--lh-normal);
    color: var(--clr-neutral-medium);
}

body{
    margin: 0;
    padding-block-end: 5rem;
}

h1,h2,h3{
    line-height: var(--lh-small);
    color: var(--clr-neutral-dark);
}



.wrapper{
    padding-inline: 1rem;
    margin-inline: auto;
    max-width: 1100px;
    /*border: 1px solid red;*/
}

.wrapper-narrow{
    max-width: 550px;
}


header{
    text-align: center;
    margin-block: 5rem;
    /*border: 2px solid lime;*/
}

.layout-grid{
    --gap: 2rem;
    display: grid;
    gap: var(--gap);
}

@media (min-width: 800px){
    .layout-grid{
        display: flex;
    }
}

.layout-grid > * {
    flex: 1;
}

.col{
    /*border: 2px solid dodgerblue;*/
    display: grid;
    gap: var(--gap);
    align-content: center;
}

.card{
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem -.5rem rgb(0 50 100 / 0.15);
    border-radius: 0.5rem;
    border-top: 8px solid;
}

.border-teal{
    border-color: var(--clr-teal);
}

.border-red{
    border-color: var(--clr-red);
}

.border-yellow{
    border-color: var(--clr-yellow);
}

.border-blue{
    border-color: var(--clr-blue);
}